@charset "UTF-8";

/* 共通部分 */
html {
	font-size: 100%;
	width: 100%;
}
body {
	font-family: 'Noto Sans JP', sans-serif;
	line-height: 1.7;
	background-color: whitesmoke;
	color: black;
}
a {
	text-decoration: none;
}
ul{
	list-style-type: none;
}

/* headerの部分 */
.navbar-brand{
  	color: whitesmoke;
	font-size: 100%;
}


/* buttonの部分 */
a.btn{
	color: whitesmoke;
	background-color: #00a096;
}
a.btn:hover{
	color: #00a096;
	background-color: whitesmoke;
	border-color: #00a096;
}
input.btn{
	color: whitesmoke;
	background-color: #ff006f;
}
input.btn:hover{
	color: #ff006f;
	background-color: whitesmoke;
	border-color: #ff006f;

}
.btn-position{
	text-align: left;
	padding: 10px;
}

/* todo_list.htmlの部分 */
.table{
	width: 90%;
	margin :5%
}
.table-group-divider{
	border-top: calc(var(--bs-border-width) * 2) solid #00a096;
}

/* todo_detail.htmlの部分*/
.box{
	margin: 5%;
}
.list-position{
	margin: 20px;
}

/* todo_form.htmlの部分 */
/* todo_confirm.htmlの部分 */