<!DOCTYPE html>
{% load static %}
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>School Calendar</title>
		<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
	</head>
	<body>
		<header class="page-header">
			<h1><a class="logo" href="{% url 'list' %}">School Calendar</a></h1>
		</header>
			{% block content %}
			{% endblock content %}
	</body>
</html>